Package               Version
--------------------- -------
cffi                  1.15.1
numpy                 1.25.1
pip                   23.0.1
pycairo               1.24.0
pycparser             2.21
Pygments              2.15.1
PyGObject             3.44.1
PyQt3D                5.15.5
PyQt5                 5.15.7
PyQt5-sip             12.11.0
PyQtChart             5.15.6
PyQtDataVisualization 5.15.5
PyQtNetworkAuth       5.15.5
PyQtPurchasing        5.15.5
PyQtWebEngine         5.15.6
PyYAML                6.0.1
setuptools            67.6.1
six                   1.16.0
typing_extensions     4.7.1
wheel                 0.40.0
